<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="./src/style/explore.css" />
  <title>✨古诗词星空探索</title>

  <script src="./Star.js"></script>
  <link rel="stylesheet" href="https://cdn.staticfile.org/element-ui/2.15.9/theme-chalk/index.css" />
  <style>
    #app {
      display: flex;
      height: 100vh;
    }

    .el-container {
      color: white;
      background: transparent;
    }

    #content {
      flex: 1;
      padding: 20px;
    }
  </style>
</head>

<body style="background-color: black">
  <div id="app">
    <el-container :v-loading="loading">
      <el-header>诗 星 闪 烁</el-header>
      <el-container>
        <el-aside width="25%">
          <div class="sidebar-above-div">
            <div class="sidebar-title-div">
              <div>选择您想查看的星象</div>
              <a href="index.html" id="back-button">返回</a>
            </div>

            <el-select v-model="value" placeholder="请选择您要查看的星" @change="handleSelect">
              <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value" />
            </el-select>
          </div>

          <div class="sidebar-below-div">
            <div class="sidebar-title-div">
              <div>详细信息</div>
            </div>
            <div class="poetry-content-div">
              <p><strong>{{poetry.title}}</strong></p>
              <p style="font-size: small">{{poetry.author}}</p>
              <p style="font-size: small">{{poetry.content}}</p>
            </div>

            <div class="poetry-content-info-div">
              <p><strong>在诗中使用的别名:</strong> {{poetry.otherName}}</p>
              <p><strong>星宿名:</strong> {{poetry.originName}}</p>
              <p><strong>主题:</strong> {{poetry.theme}}</p>
              <p><strong>体裁:</strong> {{poetry.genre}}</p>
              <p><strong>情感:</strong> {{poetry.emotion}}</p>
              <p><strong>入诗手法:</strong> {{poetry.method}}</p>
            </div>
          </div>
        </el-aside>
        <el-main id="main"> </el-main>
      </el-container>
    </el-container>
  </div>
</body>

<script src="https://cdn.staticfile.org/vue/2.6.14/vue.min.js"></script>
<script src="https://cdn.staticfile.org/element-ui/2.15.9/index.min.js"></script>
<script type="module">
  import poetryArray from "./src/data/data.js";
  let v = new Vue({
    el: "#app",
    data: function () {
      return {
        sidebarWidth: "25%", // sidebar宽度
        isSidebarCollapsed: false, //左侧sidebar显示状态
        loading: true,
        poetry: {
          title: "选择星星后查看",
          author: "",
          genre: "选择星星后查看",
          otherName: "选择星星后查看",
          originName: "选择星星后查看",
          theme: "选择星星后查看",
          content: "选择星星后查看",
          emotion: "选择星星后查看",
          method: "选择星星后查看",
        },
        value: "", //用户选择的查看的星宿
        options: [
          {
            "value": "全部",
            "label": "全部"
          },
          {
            "value": "木星",
            "label": "木星"
          },
          {
            "value": "金星",
            "label": "金星"
          },
          {
            "value": "牛宿",
            "label": "牛宿"
          },
          {
            "value": "鬼宿",
            "label": "鬼宿"
          },
          {
            "value": "虚宿",
            "label": "虚宿"
          },
          {
            "value": "土星",
            "label": "土星"
          },
          {
            "value": "室宿",
            "label": "室宿"
          },
          {
            "value": "胃宿",
            "label": "胃宿"
          },
          {
            "value": "昴宿",
            "label": "昴宿"
          },
          {
            "value": "参宿",
            "label": "参宿"
          },
          {
            "value": "斗宿",
            "label": "斗宿"
          },
          {
            "value": "尾宿",
            "label": "尾宿"
          },
          {
            "value": "天市",
            "label": "天市"
          },
          {
            "value": "翼宿",
            "label": "翼宿"
          },
          {
            "value": "毕宿",
            "label": "毕宿"
          },
          {
            "value": "太微",
            "label": "太微"
          },
          {
            "value": "觜宿",
            "label": "觜宿"
          },
          {
            "value": "星宿",
            "label": "星宿"
          },
          {
            "value": "壁宿",
            "label": "壁宿"
          },
          {
            "value": "房宿",
            "label": "房宿"
          },
          {
            "value": "张宿",
            "label": "张宿"
          },
          {
            "value": "女宿",
            "label": "女宿"
          },
          {
            "value": "奎宿",
            "label": "奎宿"
          },
          {
            "value": "紫微",
            "label": "紫微"
          },
          {
            "value": "危宿",
            "label": "危宿"
          },
          {
            "value": "柳宿",
            "label": "柳宿"
          },
          {
            "value": "火星",
            "label": "火星"
          },
          {
            "value": "氐宿",
            "label": "氐宿"
          },
          {
            "value": "井宿",
            "label": "井宿"
          },
          {
            "value": "亢宿",
            "label": "亢宿"
          },
          {
            "value": "心宿",
            "label": "心宿"
          },
          {
            "value": "水星",
            "label": "水星"
          },
          {
            "value": "角宿",
            "label": "角宿"
          },
          {
            "value": "娄宿",
            "label": "娄宿"
          },
          {
            "value": "箕宿",
            "label": "箕宿"
          },
          {
            "value": "轸宿",
            "label": "轸宿"
          }
        ],
      };
    },
    methods: {
      handleSelect(key, keyPath) {
        this.value = key;
        console.log(this.value)
        this.filterStars();
      },
      //筛选星星
      filterStars() {
        var filteredStars;
        if (this.value == '全部') {
          filteredStars = poetryArray
        } else {
          filteredStars = poetryArray.filter((poetry) => poetry.originName === this.value);
        }
        this.createStars(filteredStars);
      },
      //获取星星出现的位置
      getRandomPosition() {
        const mainElement = document.getElementById("main");
        const mainRect = mainElement.getBoundingClientRect();
        const x = mainRect.left + Math.random() * (mainRect.width - 100);
        const y = mainRect.top + Math.random() * (mainRect.height - 100);
        return { x, y };
      },
      createStar(p) {
        const star = document.createElement("div");
        star.className = "star";
        const { x, y } = this.getRandomPosition();
        star.style.left = `${x}px`;
        star.style.top = `${y}px`;
        const svg = document.createElement("img");
        svg.src = "./src/svg/star.svg";
        svg.alt = "star-svg";
        // svg.style.width = "10px"; // 设置缩小后的宽度
        // svg.style.height = "10px"; // 设置缩小后的高度
        svg.classList.add("star-animation");

        const animationDuration = Math.random() * 5 + 2;
        const animationDelay = Math.random();
        svg.style.animationDuration = `${animationDuration}s`;
        svg.style.animationDelay = `-${animationDelay}s`;
        //添加点击效果
        star.addEventListener("click", () => {
          this.poetry = p
        });

        //添加悬浮效果
        const infoBox = document.createElement("div");
        infoBox.className = "info-box";
        infoBox.innerHTML = `<p>${p.title}</p>`;
        star.appendChild(infoBox);
        star.appendChild(svg);
        document.getElementById("main").appendChild(star);

        //动画最后的效果
        void star.offsetWidth;
        svg.style.opacity = 1;
        // 随机设置星星的大小，最大50px，最小25px
        const starSize = Math.floor(Math.random() * (50 - 25 + 1)) + 5;
        svg.style.width = `${starSize}px`;
        svg.style.height = `${starSize}px`;
      },
      createStars(starList) {
        const existingStars = document.querySelectorAll(".star");
        existingStars.forEach((star) => star.remove());
        starList.forEach(this.createStar);
      },
    },
    mounted() {
      this.createStars(poetryArray);
    },

  });
</script>

</html>